doctype html
html(lang="fr")
    head
        title impression
    body
        div(class="table-responsive")
            table(class="table ComparisonTable")
                thead
                    tr
                        th
                        th(class="travelTime") temps de trajet